# Local development env values
# Copy into each service folder as `.env` for local development.

# API Gateway local config
# api-gateway/.env
# PORT=5001
# USER_SERVICE_URL=http://localhost:5002
# ORDER_SERVICE_URL=http://localhost:5003

# User service local config
# user-service/.env
# PORT=5002
# POSTGRES_HOST=localhost
# POSTGRES_PORT=5432
# POSTGRES_USER=admin
# POSTGRES_PASSWORD=admin
# POSTGRES_DB=ecommerce

# Order service local config
# order-service/.env
# PORT=5003
# POSTGRES_HOST=localhost
# POSTGRES_PORT=5432
# POSTGRES_USER=admin
# POSTGRES_PASSWORD=admin
# POSTGRES_DB=ecommerce

# Docker compose values 

# PORT=5002
# POSTGRES_HOST=postgres
# POSTGRES_PORT=5432
# POSTGRES_USER=postgres
# POSTGRES_PASSWORD=admin
# POSTGRES_DB=ecommerce

# PORT=5001
# USER_SERVICE_URL=http://user-service:5002
# ORDER_SERVICE_URL=http://order-service:5003




